<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lumanosimo&display=swap" rel="stylesheet">
    <title>JokeGenerator</title>
</head>

<body>
    <h1>Enter a category 👇 </h1>

    <form action="/" id="form" class="form" method="POST">
        <input type="text" id="username" name="username" required>
        <button type="submit" class="form-submit">Submit</button>
    </form>

    <div class="card">
        <% if (locals.data){ %>
            <p>
                <%= data.setup %> <br>
                    <%= data.delivery %>
            </p>
            <% } %>
                <% if (locals.error){ %>
                    <p>
                        <%= error.message %>
                    </p>
                    <% } %>
    </div>

</body>

</html>