body {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
}

h1 {
    font-size: 5rem;
}

ul {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    width: 60%;
}